.MyButton {
  background-color: pink;
  border: 0px;
  padding: 10px;
  margin: 5px 10px 3px 10px;
  border-radius: 15px;
  transition: opacity, transform ease-in-out 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
}

.MyButton__current {
  border: 1px solid rgb(248, 137, 155);
  font-weight: bold;
}
