input {
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 290px) {
  input {
    padding: 6px;
    width: 50px;
  }
}
